@media screen and (max-width: 500px) {
    td {
        display: block;
    }
    th {
        display: none;
    }
    .miniId::before { content: "id "; }
    .miniName::before { content: "Név "; }
    .miniCity::before { content: "Település "; }
    .miniSalary::before { content: "Fizetés "; }
    .mini::before {
        font-weight: bold;
        display: inline-block;
        width: 100px;
    }
    .miniRow {
        display: block;
        margin-bottom: 20px;
        border: 1px solid black;
    }
}